.max_width {
  max-width: 1100px;
  margin: 0px auto;
}

.absolute_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection_title{
  font-size: 30px;
  color: #1c1c1c;
  margin-bottom: 32px;
  font-weight: 600;
}

.slick-next::before,
.slick-prev::before{
  color: rgb(238, 80, 80);
  font-size: 25px;
  
}